footer {
    background-color: #505050;
    border-top: 2px solid black;
    ul {
        color:black;
        color: white;
        list-style-type: none;
        font-size: 16px;      
    }
}
a:link {
    color: white;
    font-style: none;
}
