footer {
    background-color: #505050;
    border-top: 2px solid black;
    ul {
        color:black;
        color: white;
        list-style-type: none;
        font-size: 16px;      
    }
}
a:link {
    color: white;
    font-style: none;
}
.mapouter {
    position:relative;
    text-align:right;
    height:400px;
    width:350px;
}
.gmap_canvas {
    overflow:hidden;
    background:none;
    height:400px;
    width:350x;
}