body {
  background-color: black;
}

header {
  background-color: black;
  color: white;
  font-size: 1rem;
  width: 100%;
  height: 200px;
}

header img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 15px;
}

header h1 {
  text-align: left;
  float: center;
  border-bottom: #b3aaaa 1.5px solid;
  font-size: 1.5rem;
}

main {
  background-color: #121212;
  border: 20px;
}

main ol {
  font-size: 2.5rem;
  text-align: center;
}

.contenedor {
  max-width: 62.5rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.card {
  background: lightgray;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50x;
}

.card__thumbnail {
  width: 38rem;
  height: 25rem;
  background: white;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
}

.card__img {
  width: 100%;
}

.card__titulo {
  font-family: "raleway", sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}

.card__enlace {
  color: black;
}

.card__extracto {
  line-height: 20px;
  color: black;
  margin-bottom: 20px;
}

.boton {
  border: none;
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  color: #fff;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.boton:hover {
  background: grey;
  text-decoration: none;
}

.boton--absolute {
  position: absolute;
  right: 20px;
  bottom: -25px;
}

.boton--color {
  background-color: #50f750;
}

.contactos {
  color: white;
}

.galeriaPublica {
  color: white;
  letter-spacing: 5px;
  font-size: 4rem;
  font-family: Apple Chancery, cursive;
  text-align: center;
  font-weight: 700;
  border-bottom: 4px solid;
  border-top: 4px solid;
}

.letra {
  color: white;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
}

.card--color {
  background-color: white;
  border-top: #a8a4a4;
  color: black;
}

.card--img {
  float: left;
  font-size: 2rem;
  text-align: right;
}

.boton--negro {
  background-color: black;
  color: white;
  font-size: 20px;
  position: absolute;
  right: 300px;
  top: 100px;
}

.boton--scc {
  background-color: lightblue;
  color: black;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 600px;
  right: 45px;
}

.fondo-container {
  background-color: black;
}

.imagen-header {
  height: 30rem;
  width: 100%;
  border-top: white 2px solid;
}

footer {
  background-color: #505050;
  border-top: 2px solid black;
}

footer ul {
  color: black;
  color: white;
  list-style-type: none;
  font-size: 16px;
}

a:link {
  color: white;
  font-style: none;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 350px;
}

.gmap_canvas {
  overflow: hidden;
  background: none;
  height: 400px;
  width: 350x;
}
/*# sourceMappingURL=styles.css.map */